body {
    font-family: 'Roboto', sans-serif;
}

form a {
	margin-left: 10px;
}

button.btn {
	margin-right: 10px;
}

/* starting state of animation*/
.fade-enter {
    right: 0px;
    opacity: 0;
    /*transform: rotateX(90deg) rotateZ(90deg);*/
}

/* end state of anumation*/
.fade-enter-active {
    right: 0px;
    opacity: 1.0;
    transition: .5s ease-in all;
}

.fade-leave {
    opacity: 1.0;
    right: 0px;
}

.fade-leave-active {
    right: -100px;
    opacity: 0;
    transition: .5s ease-out all;
}